/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: sans-serif;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px; /*top and bottom 25, right and left 23*/
	background: linear-gradient(rgba(176,196,222,1), rgba(176,196,222,0));
}

.head-bar {
	width: 300px;
	height: 45px;
	background: #778899;
	text-align: center;
	text-shadow: 1px 1px #000000
}

.head-bar h1 {
	padding-top: 3px;
	color: white;
}

.back-button {
	float:left;
	margin-top: 1px;
}

/* 
	Albums 
			*/

.albums-album-wrapper {
	width: 300px;
}

#sat-cover:hover {
	outline: 1px solid gray;
	outline-offset: -10px;
}

.albums-left {
	float: left;
	width: 150px;
	margin-bottom:10px;
}

.albums-right {
	float: right;
	width: 150px;
	margin-bottom:10px;
}

.albums-left img {
	float:left;
	padding:10px;
}

.albums-right img {
	float:right;
	padding:10px;
}

.desc {
	text-align:center;
	margin:0;
	padding: 0;
}

.albums-album-name {
	font-size:18px;
	margin: 2;
	padding: 0;
}

.albums-artist-name {
	font-size:14px;
	margin: 2;
	padding: 0;
}

/* 
	Songs 
			*/
			
.songs-info-wrapper {
	width: 300;
	height: 170px;
}

.songs-album-art {
	float: left;
	margin: 10px;
}

.songs-album-name {
	font-size: 1.25rem;
}

.songs-artist-name {
}

.songs-text-info {
	float:right;
	margin: 10px 20px 0px 0px;
}

.songs-album-year {
	
}

.songs-list {
	margin:4px 10px 5px 0px;
	padding-left:0px;
	overflow:hidden;
}

.songs-list ol{
	padding-left:35px;
}

.songs-list li {
		border: 1px solid grey;
		margin-bottom: .5rem;
		padding-left: .25rem;
}

/* 
	Player 
			*/
.player-album-art {
	
}

.player-song-info {
	
}

#player-song-name {
	
}

.volume-bar {
	
}

.volume-level {
	
}

.volume-rocker {
	
}

.player-controls{
	
}

#player-time {
	
}

#time-elapsed {
	
}

#time-total{
	
}